@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.message {
    display: flex;
    margin: 12px 8px;
}
.message > span{
    border-radius: 10px;
}
.message-sent {
    justify-content: right;
}
.message-received {
    justify-content: left;
}
.message-sent > span{
    background-color: #cfcfcf;
    font: bolder;
    padding: 16px 8px;
    border-bottom-right-radius: 2px;
}
.message-received > span{
    background-color: #ffc629;
    font: bolder;
    padding: 16px 8px;
    border-bottom-left-radius: 2px;
}

/* profile update */

#photo_form > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0;
    height: 40px;
    background-color: transparent;
    justify-content: space-between;
}

.update-profile-buttons  button{
    background-color: rgb(234, 179, 8) !important;
}

.chat_page_chat_box{
    height: calc(100vh - 58px);
}

#gender_form > div{
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

#name_form > div{
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

#age_form > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#description_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

button{
    margin: 0px !important;
}

.interests-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
}